<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.ico" />
    <!-- <script type="text/javascript"
        src="https://webapi.amap.com/maps?v=2.0&key=ef89cf7479c494983045628f3960e0ba"></script> -->
    <title>ract 子应用</title>
</head>

<body>
    <div id="react-app"></div>
</body>

</html>